@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rock 3D';
    src: url('/assets/fonts/Rock3D-Regular.woff2') format('woff2'),
        url('/assets/fonts/Rock3D-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.font-rock {
    font-family: 'Rock 3D';
    font-weight: normal;
    font-style: normal;
}

.font-extrabold {
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 800;
}

.font-semibold {
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 600;
}
.font-normal {
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400;
}

.font-light {
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 300;
}

.font-extrabold-wide {
    font-variation-settings: "slnt" 0, "wdth" 125, "wght" 800;
}

.font-semibold-wide {
    font-variation-settings: "slnt" 0, "wdth" 125, "wght" 600;
}
.font-normal-wide {
    font-variation-settings: "slnt" 0, "wdth" 125, "wght" 400;
}

.font-light-wide {
    font-variation-settings: "slnt" 0, "wdth" 125, "wght" 300;
}

